<!DOCTYPE html>
<html ng-app="klindApp">
    
    <head>
        <title>Klind</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
        <link rel='stylesheet' href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
        <link rel='stylesheet' href='/css/main.css' />
        <script type="text/javascript" src="/js/charts.js"></script>
        <script type="text/javascript" src="/angular/klind.js"></script>
    </head>
    
    <body>
        <div id="main-wrap" class="center-block" ng-controller="MicexClearedCtrl">
            <h1 class="text-center">Micex Cleared</h1>
            <table class="params-table">
                <tr>
                    <td>Сумма инвестирования (млн):</td>
                    <td>
                        <input type="number" step="any" ng-model="moneyAmount" ng-change="updateValues()">
                    </td>
                </tr>
                <tr>
                    <td>Индекс ММВБ</td>
                    <td>
                        <input type="number" ng-model="lastMicex" ng-change="updateValues()">
                    </td>
                </tr>
                <tr>
                    <td>Micex Cleared:</td>
                    <td>{{currentMicexCleared.toFixed(2)}}</td>
                    <td>Micex Cleared Min:</td>
                    <td>
                        <input type="number" ng-model="MICEX_CLEARED_MIN" ng-change="updateValues()">
                    </td>
                </tr>
                <tr>
                    <td>Максимальное плечо:</td>
                    <td>{{allowedMultiplier.toFixed(2)}}</td>
                </tr>
            </table>
            <h2 class="text-center">Ожидаемая сумма денег</h2>
            <table class="result-table">
                <thead>
                    <tr>
                        <th>Срок инвестирования</th>
                        <th>Худший сценарий</th>
                        <th>Нормальный сценарий</th>
                        <th>Очень положительный сценарий</th>
                    </tr>    
                </thead>
                <tbody>
                    <tr>
                        <td>6 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 6}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 6}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 6}}</td>
                    </tr>       
                    <tr>
                        <td>12 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 12}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 12}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 12}}</td>
                    </tr>       
                    <tr>
                        <td>24 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 24}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 24}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 24}}</td>
                    </tr>       
                    <tr>
                        <td>36 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 36}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 36}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 36}}</td>
                    </tr>       
                    <tr>
                        <td>48 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 48}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 48}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 48}}</td>
                    </tr>       
                    <tr>
                        <td>60 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 60}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 60}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 60}}</td>
                    </tr>       
                    <tr>
                        <td>72 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 72}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 72}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 72}}</td>
                    </tr>       
                    <tr>
                        <td>80 месяцев</td>
                        <td>{{currentMicexCleared| micexClear: this: 'min': 80}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'expected': 80}}</td>
                        <td>{{currentMicexCleared| micexClear: this: 'max': 80}}</td>
                    </tr>       
                </tbody>
            </table>
            <div id="micexClearedChart"></div>
        </div>
    </body>

</html>
